* {
  margin: 0;
}

body {
  height: 100vh;
  position: relative;
  background-color: rgb(39, 47, 50);
  background-image: url("../img/background.jpg");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* width: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  gap: 4vw;
}

.button {
  display: block;
  padding: 2vh 4vh;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.button:hover {
  -webkit-box-shadow: 0 0 12px rgba(237, 237, 237, 0.8);
          box-shadow: 0 0 12px rgba(237, 237, 237, 0.8);
}

.active {
  -webkit-box-shadow: 0 0 12px rgba(237, 237, 237, 0.8);
          box-shadow: 0 0 12px rgba(237, 237, 237, 0.8);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 22vw;
  background-color: rgb(39, 47, 50);
  -webkit-animation: fade-out 0.7s ease-out;
          animation: fade-out 0.7s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

dialog[open] {
  -webkit-animation: fade-in 0.7s ease-out;
          animation: fade-in 0.7s ease-out;
}

dialog[open]::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.5) !important;
  -webkit-animation: backdrop-fade-in 0.7s ease-out forwards;
          animation: backdrop-fade-in 0.7s ease-out forwards;
}

dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.5) !important;
  -webkit-animation: backdrop-fade-in 0.7s ease-out forwards;
          animation: backdrop-fade-in 0.7s ease-out forwards;
}

.modal-pause__cont,
.modal-game-over__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-pause__title,
.modal-game-over__title {
  font-size: 30px;
  margin-bottom: 4vh;
}

.modal-pause__title {
  color: rgb(105, 213, 31);
}

.modal-game-over__title {
  color: rgb(252, 69, 61);
}

.modal-game-over__result,
.modal-game-over__best-result {
  color: rgb(105, 213, 31);
}

.modal-game-over__result {
  margin-bottom: 2vh;
}

.modal-game-over__best-result {
  margin-bottom: 4vh;
}

.modal-pause__img {
  width: 80px;
  margin-bottom: 2vh;
}

.modal-pause__continue-btn {
  background-color: rgb(105, 213, 31);
}

.modal-game-over__restart-btn {
  background-color: rgb(241, 130, 26);
}

/* Animation keyframes */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0), translate(-50%, -50%);
            transform: scaleY(0), translate(-50%, -50%);
    display: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1), translate(-50%, -50%);
            transform: scaleY(1), translate(-50%, -50%);
    display: block;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0), translate(-50%, -50%);
            transform: scaleY(0), translate(-50%, -50%);
    display: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1), translate(-50%, -50%);
            transform: scaleY(1), translate(-50%, -50%);
    display: block;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1), translate(-50%, -50%);
            transform: scaleY(1), translate(-50%, -50%);
    display: block;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0), translate(-50%, -50%);
            transform: scaleY(0), translate(-50%, -50%);
    display: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1), translate(-50%, -50%);
            transform: scaleY(1), translate(-50%, -50%);
    display: block;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0), translate(-50%, -50%);
            transform: scaleY(0), translate(-50%, -50%);
    display: none;
  }
}
@-webkit-keyframes backdrop-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
@keyframes backdrop-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
body,
button {
  font-family: system-ui;
}

.logo {
  width: 18vw;
  margin-bottom: 8vh;
}

.game-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-level + .button-level {
  margin-top: 2vh;
}

.btn-easy {
  background-color: rgb(105, 213, 31);
}

.btn-medium {
  background-color: rgb(251, 194, 16);
}

.btn-hard {
  background-color: rgb(252, 69, 61);
}

.tetris-field {
  background: rgb(8, 8, 88);
  padding: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 0.5vh;
}

.tetris-field > div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: rgba(182, 166, 166, 0.2);
  border-radius: 0.3vh;
}

.tetris-field .I,
.tetris-field .shortStick,
.tetris-field .middleStick {
  background-color: rgb(42, 141, 234);
}

.tetris-field .dot,
.tetris-field .plus {
  background-color: rgb(116, 25, 235);
}

.tetris-field .O,
.tetris-field .U {
  background-color: rgb(241, 130, 26);
}

.tetris-field .Z,
.tetris-field .ZZ {
  background-color: rgb(251, 194, 16);
}

.tetris-field .S,
.tetris-field .SS {
  background-color: rgb(240, 50, 180);
}

.tetris-field .T {
  background-color: rgb(237, 237, 237);
}

.tetris-field .J {
  background-color: rgb(252, 69, 61);
}

.tetris-field .L {
  background-color: rgb(105, 213, 31);
}

.right-side-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-info {
  border: 6px solid rgb(155, 26, 241);
  border-radius: 28px;
  padding: 2vw 4vw;
  margin-bottom: 4vh;
}

.game-info p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Arial;
  color: rgb(105, 213, 31);
}
@media screen and (max-width: 479px) {
  .game-info p {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .game-info p {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .game-info p {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .game-info p {
    font-size: 32px;
  }
}

.score {
  margin-bottom: 1vh;
}

.game-state {
  margin-bottom: 4vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.button-game-state {
  width: 100%;
}
.button-game-state + .button-game-state {
  margin-top: 2vh;
}

.btn-pause {
  background-color: rgb(42, 141, 234);
}

.btn-restart {
  background: rgb(251, 194, 16);
}

.btn-rotate {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  width: 50%;
}

.control__l-r-d-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vh;
  margin-bottom: 2vh;
}
.control__l-r-d-wrap .button-control {
  width: calc((100% - 2vh) / 3);
}

.btn-rotate {
  background-color: rgb(105, 213, 31);
}

.btn-left {
  background-color: rgb(251, 194, 16);
}

.btn-down {
  background-color: rgb(116, 25, 235);
}

.btn-right {
  background-color: rgb(251, 194, 16);
}

.btn-drop-down {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: rgb(241, 130, 26);
}/*# sourceMappingURL=main.css.map */