.button {
    display: block;
    padding: 2vh 4vh;
    cursor: pointer;
    border: none;
    border-radius: 24px;
    transition: box-shadow 0.3s ease;
    font-size: 14px;
}

.button:hover {
    box-shadow: 0 0 12px rgba(237, 237, 237, 0.8);
}

.active {
    box-shadow: 0 0 12px rgba(237, 237, 237, 0.8);
}